.my-btn
    background-color: $button-background-color
    color: $button-color
    border-color: $button-border-color
    padding: 1em
    border-radius: 30px
    box-shadow: 0 3px 0px rgba(0,0,0,0.3), 1px 1px 1px rgba(0,0,0,0.1) inset
    font-size: 1.2rem
    margin: 20px

.my-btn:hover
    background-color: $button-background-color-hover
    color: $button-color-hover

#btn-home-login:before
    font-family: 'FontAwesome'
    content: '\f2be'

.my-floating-btn
    display: none
    a
        color: $button-color
        text-decoration: none

.my-floating-btn.active
    display: block

#index-my-floating-btn
    button
        float: right
        border-radius: 50%
        margin-right: 20px
    top: 90%
    width: 100%
    position: fixed

#shopping-my-floating-btn
    button
        float: right
        border-radius: 50%
        margin-right: 20px
    top: 90%
    width: 100%
    position: fixed



.cart_button_1, .checkout_back_button, .productDetail_back_button
    color: OliveDrab
    border-color: OliveDrab 
    background-color: transparent
.cart_button_2, .checkout_confirm_button, .productDetail_add_button
    // color: DarkGrey
    border-color: $button-border-color 
    background-color: OliveDrab 
.cart_button_1:hover, .checkout_back_button:hover, .productDetail_back_button:hover
    border-color: $button-border-color 
    background-color: $button-border-color
.cart_button_2:hover, .checkout_confirm_button:hover, .productDetail_add_button:hover
    border-color: $button-border-color 
    background-color: $button-border-color

