#logInModal, #registerModal
    .mb-3
        width: 70%
        margin: auto
    .modal-body
        .myrecaptcha
            div
                margin: auto
        h3
            color: OliveDrab
            text-align: center
    .modal-footer
        div
            margin: auto
        a
            text-decoration: none
            margin-left: 5px
            margin-right: 10px

@media (max-width: 483px)
    #logInModal, #registerModal
        .mb-3
            width: 100%
        .modal-footer
            text-align: center
            button
                width: 100%;