#logInModal
    .modal-body
        h3
            color: OliveDrab
            text-align: center
    .modal-footer
        a
            text-decoration: none
            margin-left: 5px
            margin-right: 10px