#logInModal, #registerModal
    .mb-3
        width: 70%
        margin: auto
    .modal-body
        .myrecaptcha
            div
                margin: auto
        h3
            color: OliveDrab
            text-align: center
    .modal-footer
        div
            margin: auto
        a
            text-decoration: none

#checkoutModal
    h1
        text-align: center
    .checkMarkIcon
        text-align: center
        color: green
        font-size: 1200%
    .checkMarkIcon:before
        font-family: 'FontAwesome'
        content: '\f058'

@media (max-width: 483px)
    #logInModal, #registerModal
        .mb-3
            width: 90%
        .modal-footer
            div
                margin-bottom: 10px;
            text-align: center
            button
                width: 100%;
                margin-left: 10%
                margin-right: 10%
                