@import url("https://fonts.googleapis.com/css?family=Bungee|Mukta+Malar:300,400,600|Slabo+27px");
html {
  font-family: "Mukta Malar";
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100%;
}

div.container {
  text-align: center;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 100%;
  z-index: -100;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-page {
  background-color: #edeae8;
}

.index-page .container-fluid {
  height: 100%;
  padding: 0;
}

.video-container-bg {
  height: 100%;
}

#zoomIn {
  display: none;
  z-index: 100;
}

.zoomIn {
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.zoomIn img {
  -webkit-animation-name: zoom_in;
          animation-name: zoom_in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  display: block;
  padding: 10px;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

@-webkit-keyframes zoom_in {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom_in {
  from {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.shopping_body .container-fluid {
  min-height: 100%;
  padding: 0;
}

.footer {
  bottom: 0;
  width: 100%;
  margin-top: auto;
  padding: 1vh;
  background-color: grey;
}

.footer p {
  margin: auto;
}

.my-btn {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  border-color: rgba(255, 255, 255, 0.3);
  padding: 1em;
  border-radius: 30px;
  -webkit-box-shadow: 0 3px 0px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0 3px 0px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
  font-size: 1.2rem;
  margin: 20px;
}

.my-btn:hover {
  background-color: OliveDrab;
  color: white;
}

.my-floating-btn {
  display: none;
  top: 90%;
  width: 100%;
  position: fixed;
}

.my-floating-btn a {
  color: black;
  text-decoration: none;
}

.my-floating-btn button {
  float: right;
  border-radius: 50%;
  margin-right: 20px;
}

.my-floating-btn.active {
  display: block;
}

#logInModal .modal-body h3 {
  color: OliveDrab;
  text-align: center;
}

#logInModal .modal-footer a {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 10px;
}

.video-container-bg {
  position: relative;
  height: 100%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0);
}

.navbar .dropdownicon {
  color: DarkOliveGreen;
}

.navbar a {
  font-size: 1.7rem;
  border: 1px;
  color: DarkOliveGreen;
  text-align: left;
  text-shadow: 1px 1.2px 2px GhostWhite;
  font-weight: bold;
}

.navbar a:hover {
  color: white;
}

.navbar a:active {
  color: Beige;
}

.navbar-container {
  margin-top: 70px;
  border-bottom: 1px solid grey;
  width: 658px;
}

@media (max-width: 768px) {
  .navbar-container {
    width: 100%;
  }
}

.sectionMain {
  text-align: center;
  margin-top: 12%;
  position: relative;
}

.sectionMain h1 {
  font-family: "Ink Free";
  font-size: 4rem;
}

.sectionMain h2 {
  font-family: "Slabo";
  font-size: 1rem;
}

.sectionMain h3 {
  color: OliveDrab;
  font-size: 1.2rem;
}

#btn-home-login:before {
  font-family: 'FontAwesome';
  content: '\f2be';
}

.sectionMenu .row {
  padding-left: 20%;
  padding-right: 20%;
}

.sectionMenu .my-img-class {
  margin: 5%;
  padding: 1%;
  border: 1px solid grey;
}

.sectionMenu img {
  width: 100%;
}

.sectionMenu h1 {
  margin-top: 5%;
  text-align: center;
  color: DarkOliveGreen;
  text-shadow: 1px 1.2px 2px grey;
}

.sectionMenu h3 {
  text-align: center;
  color: OliveDrab;
  font-family: "URW Chancery L", cursive;
}

.sectionSource {
  text-align: center;
}

.sectionSource h1 {
  margin-top: 3%;
  color: DarkOliveGreen;
  text-shadow: 1px 1.2px 2px grey;
}

.sectionSource h4 {
  text-align: center;
  color: OliveDrab;
  font-family: "URW Chancery L", cursive;
}

.sectionDocumentation {
  margin-top: 3%;
  text-align: center;
}

.sectionDocumentation h1 {
  margin-top: 5%;
  color: DarkOliveGreen;
  text-shadow: 1px 1.2px 2px grey;
}

.sectionDocumentation img {
  margin: auto;
  padding: 10px;
}

.sectionShopping .row {
  padding-left: 20%;
  padding-right: 20%;
}

.sectionShopping .my-img-class {
  margin: 5%;
  padding: 1%;
  border: 1px solid grey;
}

.sectionShopping img {
  width: 100%;
}

.sectionShopping h1 {
  margin-top: 5%;
  text-align: center;
  color: OliveDrab;
}

.sectionShopping h3 {
  text-align: center;
  color: OliveDrab;
}

.sectionShopping p {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */