.sectionShopping
    .shopping_headerNav #headerImg
        height: 150px
        background-color: rgba(255,0,0,0.1)
        border-radius: 15px 50px 30px    

    .shopping_headerNav span 
        position: absolute
        font-size: 2rem
        padding-left: 1rem
        padding-top: 1rem
        color: white